 @font-face {  font-family: 'Meera';  src: url('Meera.woff');} 
 .mal {  font-family:'Meera', serif;} 

 body {
  font: 12px/1.5 Verdana, sans-serif;
  background: #092e20;
}

#container {
  max-width:810px;
  margin: auto;
}
a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #ffc757;
}

a:hover {
  color: #ffe761;
}

blockquote {  
  font-size: 140%;
  color: #234f32;
  border-left: 2px solid #94da3a;
}
#top {
  display: none
}
#left {
  width: 240px;
  float: left;
  background: #234F32;
  padding: 10px;
  color: #fff;
}

#right {
  margin-left: 270px;
  background: #fff;
  padding: 10px;
  /* Change this to whatever the width of your left column is*/
}

.clear {
  clear: both;
}

@media all and (max-width: 600px) {
    #left {display:none;}
    #top {display:block;}
    #right { margin: 0px; }
    blockquote {margin: 0px;}
}

